.container-work {
  margin: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid white; */
}

span {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 10px;
  /* border: 1px solid white; */
}
