#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  margin: 0 auto;
}

.btn {
  border: 1px white solid;
}

.btns {
  display: flex;
  justify-content: space-evenly;
}

.function-btns {
  min-width: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;
}

.set-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-container-work {
  border: 3px solid rgb(255, 64, 0);
  padding: 10px;
  text-transform: uppercase;
  border-radius: 15px;
  /* background-color: rgb(57, 46, 40); */
}

.main-container-break {
  border: 3px outset rgb(14, 230, 14);
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 15px;
  background-color: rgb(5, 77, 53);
}
