#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  margin: 0 auto;
}

.btn {
  border: 1px white solid;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;
}

.set-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
